{% load static %}
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Latest Products</h2>
						<div class="pull-right">
							<div class="product-slick-dots-1 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->
				
				<!-- Product Slick -->
				<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
					<div class="row">
						<div id="product-slick-1" class="product-slick">
							<!-- Product Single -->
							{% for product in latestProducts %}
							<div class="product product-single body-product-single">
								<div class="product-thumb body-product-thumb">
									<a href="/product/{{product.id}}/{{product.slug}}" class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</a>
									<img class="deals-images" src="{{product.product_image.url}}" alt="{{product.product_image.url}}">
								</div>
								
								<div id='newline' class="product-body body-product-body">
									{% if product.product_price != product.product_discount %}
									<h3 class="product-price body-product-price">₹ {{product.product_discount}} <del class="product-old-price">₹ {{product.product_price}}</del></h3>
									{% else %}
									<h3 class="product-price body-product-price">₹ {{product.product_discount}}</h3>
									{% endif %}

									
									{% if product.product_name|length <= 30 %}
									<h2 class="product-name body-product-name"><a href="/product/{{product.id}}/{{product.slug}}">{{product.product_name}}</a></h2>
									{% else %}
									<h2 class="product-name body-product-name"><a href="/product/{{product.id}}/{{product.slug}}">{{product.product_name|truncatechars:30}}</a></h2>
									{% endif %}
									{% if product.product_stock >= 1  %}
										{% csrf_token %}
											<a href="{% url "addtoshopcart" product.id  %}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
									{% else %}
									<span class='out-of-stock'>Out of Stock</span>
									{% endif %}
								</div>
							</div>
							{%endfor%}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Deals Of The Day</h2>
						<div class="pull-right">
							<div class="product-slick-dots-2 custom-dots"></div>
						</div>
					</div>
				</div>
				<!-- /section-title -->

				<!-- Product Slick -->
				<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
					<div class="row">
						<div id="product-slick-2" class="product-slick">
							<!-- Product Single -->
							{% for product in randomProducts %}
							<div class="product product-single body-product-single">
								<div class="product-thumb body-product-thumb">
									<a href="/product/{{product.id}}/{{product.slug}}" class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</a>
									<img class="deals-images" src="{{product.product_image.url}}" alt="{{product.product_image.url}}">
								</div>
								
								<div id='newline' class="product-body body-product-body">

									{% if product.product_price != product.product_discount %}
									<h3 class="product-price body-product-price">₹ {{product.product_discount}} <del class="product-old-price">₹ {{product.product_price}}</del></h3>
									{% else %}
									<h3 class="product-price body-product-price">₹ {{product.product_price}}</h3>
									{% endif %}

									
									{% if product.product_name|length <= 30 %}
									<h2 class="product-name body-product-name"><a href="/product/{{product.id}}/{{product.slug}}">{{product.product_name}}</a></h2>
									{% else %}
									<h2 class="product-name body-product-name"><a href="/product/{{product.id}}/{{product.slug}}">{{product.product_name|truncatechars:30}}</a></h2>
									{% endif %}
									
									{% if product.product_stock >= 1  %}
										{% csrf_token %}
											<a href="{% url "addtoshopcart" product.id  %}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
									{% else %}
									<span class='out-of-stock'>Out of Stock</span>
									{% endif %}
								</div>
							</div>
							{%endfor%}
						</div>
					</div>
				</div>
			</div>
			
			{% comment %} <div class="row">
				<div class="col-md-3 col-sm-6 col-xs-6">
						<div class="product product-single">
							<div class="product-thumb">
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
								<img src="./img/product01.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">$32.50</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="./img/product02.jpg" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
							<div class="product-btns">
								<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
				
			</div> {% endcomment %}
		</div>
	</div>
							<!-- /Product Single -->

	<!-- /section -->

