{% load static %}
{% load mptt_tags %}
<!-- NAVIGATION -->

	<div id="navigation">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav show-on-click ">
					<span class="category-header">Categories <i class="fas fa-list-ul"></i></span>

					<ul class="category-list">
						{% recursetree category %}

					  		{% if node.level == 0 %}

					  			{% if not node.is_leaf_node %}
									<li class="dropdown">
										<a href="{% url 'category_products' node.id node.slug %}" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
											{{ node.category_name }}
											<div style="float:right;"><i class="fas fa-angle-right"></i></div>
										</a>
								{% else %}
									<li class="dropdown">
										<a href="{% url 'category_products' node.id node.slug %}" >{{ node.category_name }}</a>
								{% endif %}

							{% else %}

								{% if not node.is_leaf_node %}
					  				<li class="dropdown-submenu dropdown-divider">
										<a href="{% url 'category_products' node.id node.slug %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
						  					{{ node.category_name }}
											<div style="float:right;"><i class="fas fa-angle-right"></i></div>

										</a>
								{% else %}

					  				<li class="dropdown-submenu dropdown-divider">
										<a href="{% url 'category_products' node.id node.slug %}">{{ node.category_name }}</a>
								{% endif %}

							{% endif %}
							{% if not node.is_leaf_node %}

								<ul class="dropdown-menu ">
									{{ children }}
								</ul>
							{% endif %}

						</li>

					  	{% endrecursetree %}
					</ul>
<!--
<script type="text/javascript">
    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
        // Avoid following the href location when clicking
        event.preventDefault();
        // Avoid having the menu to close when clicking
        event.stopPropagation();
        // If a menu is already open we close it
        $('ul.dropdown-menu [data-toggle=dropdown]').parent().removeClass('open');
        // opening the one you clicked on
        $(this).parent().addClass('open');
    });
</script>
		-->		</div>
				<!-- /category nav -->

			</div>


	</div>
	<!-- /NAVIGATION -->