{% load static %}
<!-- FOOTER -->
	<footer class="section1">
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						
						Copyright <span class='copyright-symbol'>&copy; </span><script>document.write(new Date().getFullYear());</script> All rights reserved </a>
						<span class='at-symbol'>@</span> Personal Shopper
						
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

		<!-- jQuery Plugins -->


	<script type=text/javascript>
		if ($(document).height() > $(window).height()){
			$("footer").removeClass('fixed-footer');
		}
		else{
			$("footer").addClass('fixed-footer');
		}
	</script>


