{% load static %}
	<footer class="section1">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="footer-copyright">
					Copyright <span class='copyright-symbol'>&copy; </span><script>document.write(new Date().getFullYear());</script> All rights reserved
					<span class='at-symbol'>@</span> Personal Shopper	
				</div>
			</div>
		</div>
	</footer>
	<script>
		if ($(document).height() > $(window).height()){
			$("footer").removeClass('fixed-footer');
		}
		else{
			$("footer").addClass('fixed-footer');
		}
	</script>


