{% load static %}
<header>
	<div id="header-4">
		<div class="pull-left pull-left-4">
			<div class="header-logo">
				<a class="logo" href="/">
					<span id="logo-first-word">Personal</span> <span id="logo-second-word">Shopper</span>
				</a>
			</div>
		</div>
		<div class="pull-right pull-right-4">
			<ul class="header-btns">
				<li class="header-account dropdown default-dropdown">
					{% if user.id is not None %}
						<div class="dropdown-toggle ok1" role="button" data-toggle="dropdown" aria-expanded="true">
							<strong class="text-uppercase">{{ user.first_name }} </strong>
						</div>
					{% else %}
						<a class="btn text-uppercase" href="{% url 'login' %}">Login <img src="{% static '' %}img/login.png" alt='Login' /></a>
						<a class="btn text-uppercase" href="{% url 'signup' %}">Sign Up <img src="{% static '' %}img/add-user.png" alt='Signup' /></a>
					{% endif %}
					<ul class="custom-menu custom-menu-4">
						<li><a href="/user"><i class="fa fa-user"></i> My Account</a></li>
						<li><a href="{% url 'logout' %}"><i class="fa fa-unlock-alt"></i> Logout</a></li>
					</ul>
				</li>
				{% if user.id is not None %}
					<li class="header-cart dropdown default-dropdown">
						<a href="{% url 'shopcart'%}" >
							<div class="header-btns-icon">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<br>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>