{% extends 'homeBase.html' %}

{% block title %}My Home Page Title{% endblock  %}
{% block description %}My Home Page Description{% endblock  %}
{% block keywords %}My Home Page Keywords{% endblock  %}


{% block header %} {%  include 'header.html'  %} {% endblock %}
{% block categories %} {%  include 'categories.html'  %} {% endblock %}
{% block slider %} {%  include 'slider.html'  %} {% endblock %}
{% block botButton %} {%  include 'botButton.html'  %} {% endblock %}
{% block body %} {%  include 'body.html'  %} {% endblock %}
{% block footer %} {%  include 'footer.html'  %} {% endblock %}