{% load static %}
<div id="home">
	<div class="home-wrap">
		<div id="home-slick">
			{% for product in sliderProducts %}
				<div class="banner banner-1">
					<img class="slider-banner-image" src="{{product.product_image.url}}" alt="{{product.product_image.url}}">
					<div class="banner-caption text-center">
						<h1> {{ product.product_name }} </h1>
						<h3 class="white-color font-weak">₹ {{product.product_discount}}</h3>
						<br>
						<a href="/product/{{product.id}}/{{product.slug}}" class="primary-btn">Shop Now</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>