{% extends 'homeBase2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block title %}  {{ user.first_name }} Profile  Update{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">User Profile Update</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
	                {% if messages %}
                    {% for message in messages %}
                        {% if forloop.last %}
                        <div class="alert alert-{{message.tags}}" role="alert" style="margin-left:43%;margin-right:43%;background:#AFE0F9;color:black;">
                            {{ message |safe }}
                        </div>
                        {%endif%}
                    {% endfor %}
                {% endif %}
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Address Update</h3>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {{ formset.non_form_errors }}
                        {% if formset.total_form_count > 1 %}
                        <br><h3 class="title">You Can Edit or delete saved addresses.</h3><br><br>
                        {%endif%}
                        <div>
                        {% for form in formset %}
                            {% if forloop.last %}
                            {% if formset.total_form_count > 1 %}
                                <br><h3 class="title">You May add more addresses. </h3><br><br>
                            {% else%}
                                <br><h3 class="title">Please Fill the following details.</h3><br><br>
                            {%endif%}
                            {% for field in form %}
                                    {% if not "Delete:" in field.label_tag %}
                                    {% if not "Id:" in field.label_tag %}
                                        {% if not forloop.last %}
                                            {{ field.errors }}
                                            <div style="width:90%; margin-left:10%"><br>
                                                <div style="width:25%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:50%; float:left;"><p style="display:inline;">{{ field }}</p></div><br>
                                            </div><br>
                                        {%endif%}
                                    {%endif%}
                                    {%endif%}
                                {% endfor %}
                            {% else %}
                            <div><h4 class="title">Address {{forloop.counter}}</h4></div>
                                {% for field in form %}
                                    {% if not "Id:" in field.label_tag %}
                                        {% if not forloop.last %}
                                            {{ field.errors }}
                                            <div style="width:90%; margin-left:10%"><br>
                                                <div style="width:25%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:50%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                            </div>
                                        {%endif%}
                                    {% else %}
                                        {{ field.errors }}{{ field }}
                                    {%endif%}
                                 {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div><br><br>
                        <div><button class="primary-btn" type="submit" style="margin-left:40%;" id="subbt">Save the Changes</button></div>
                    </form>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
	<script src="{% static '' %}js/jquery.min.js"></script>
	<script src="{% static '' %}js/bootstrap.min.js"></script>
	<script src="{% static '' %}js/slick.min.js"></script>
	<script src="{% static '' %}js/nouislider.min.js"></script>
	<script src="{% static '' %}js/jquery.zoom.min.js"></script>
	<script src="{% static '' %}js/main.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' ></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
<script>
$f2=0
{% for form in formset %}
$f1='#id_user1profile_set-'
$fv1='-address'
$fv2='-city'
$fv3='-state'
$fv4='-pin_code'
$fv5='-country'
$f=$f1.concat($f2.toString())
$ffv1=$f.concat($fv1)
$ffv2=$f.concat($fv2)
$ffv3=$f.concat($fv3)
$ffv4=$f.concat($fv4)
$ffv5=$f.concat($fv5)
bootstrapValidate($ffv2, 'min:2:Enter valid city.')
bootstrapValidate($ffv2, 'max:100:More than 100 charachters.')
bootstrapValidate($ffv2, 'regex:^[a-zA-Z- ]+$:Invalid literals added.')
bootstrapValidate($ffv3, 'min:2:Enter valid state.')
bootstrapValidate($ffv3, 'max:100:More than 100 charachters.')
bootstrapValidate($ffv3, 'regex:^[a-zA-Z- ]+$:Invalid literals added.')
bootstrapValidate($ffv5, 'min:2:Enter valid country.')
bootstrapValidate($ffv5, 'max:100:More than 100 charachters.')
bootstrapValidate($ffv5, 'regex:^[a-zA-Z- ]+$:Invalid literals added.')
bootstrapValidate($ffv1, 'min:2:Enter valid address')
bootstrapValidate($ffv1, 'max:100:More than 100 characters not allowed')
bootstrapValidate($ffv4, 'numeric:Only numbers allowed')
bootstrapValidate($ffv4, 'min:6:Enter PIN Code')
bootstrapValidate($ffv4, 'max:6:Enter PIN Code')
$f2=$f2+1
{%endfor%}
function yesnoCheck(){
$f2=0
{% for form in formset %}
$f1='#id_user1profile_set-'
$fv1='-address'
$fv2='-city'
$fv3='-state'
$fv4='-pin_code'
$fv5='-country'
$f=$f1.concat($f2.toString())
$ffv1=$f.concat($fv1)
$ffv2=$f.concat($fv2)
$ffv3=$f.concat($fv3)
$ffv4=$f.concat($fv4)
$ffv5=$f.concat($fv5)
bootstrapValidate($ffv2, 'min:2:Enter valid city.')
bootstrapValidate($ffv2, 'max:100:More than 100 charachters.')
bootstrapValidate($ffv2, 'regex:^[a-zA-Z- ]+$:Invalid literals added.')
bootstrapValidate($ffv3, 'min:2:Enter valid state.')
bootstrapValidate($ffv3, 'max:100:More than 100 charachters.')
bootstrapValidate($ffv3, 'regex:^[a-zA-Z- ]+$:Invalid literals added.')
bootstrapValidate($ffv5, 'min:2:Enter valid country.')
bootstrapValidate($ffv5, 'max:100:More than 100 charachters.')
bootstrapValidate($ffv5, 'regex:^[a-zA-Z- ]+$:Invalid literals added.')
bootstrapValidate($ffv1, 'min:2:Enter valid address')
bootstrapValidate($ffv1, 'max:100:More than 100 characters not allowed')
bootstrapValidate($ffv4, 'numeric:Only numbers allowed')
bootstrapValidate($ffv4, 'min:6:Enter PIN Code')
bootstrapValidate($ffv4, 'max:6:Enter PIN Code')
$f2=$f2+1
{%endfor%}
var te =  document.getElementsByClassName('form-control');
for(var j = 0; j < te.length; j++)
{
    console.log(te[j].classList)
    console.log(te[j].classList.contains('is-invalid'))
    console.log(te[j].id)
    if (!te[j].classList.contains('is-invalid')){
        console.log($(te[j]))
        console.log($(te[j]).next())
        $(te[j]).next().remove()
    }
}
var element =  document.getElementsByClassName('is-invalid');
  for(var i = 0; i < element.length; i++){
        var idval='#'.concat((element[i].id).toString())
        if (idval==$ffv5 || idval==$ffv1 || idval==$ffv2 || idval==$ffv4 || idval==$ffv4)
        {
            console.log('ok')
            if (((element[i].value).toString()) == '')
            {   console.log('yay')
                $(element[i]).next().remove()
                element[i].classList.remove("is-invalid");
            }

        }
  }
if(element.length>0){
document.getElementById("subbt").disabled = true;
} else {
document.getElementById("subbt").disabled = false;
}
}

</script>
{% endblock %}
{% block footer %} {%  include 'footer5.html'  %} {% endblock %}