{% extends 'homeBase2.html' %}

{% block title %} Order List {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Order List</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-9">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Order List</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">Order ID</th>
                                <th class="text-left">Delivery Type</th>
                                <th class="text-left">Payment Method</th>
                                <th class="text-left">Order Amount</th>
                                <th class="text-left">Status</th>
                                <th class="text-left">Date</th>
                                <th class="text-left">Detail</th>
                            </tr>
                            {% for rs in orders %}
                                <tr>
                                    <td class="text-left">{{ rs.code}} </td>
                                    <td class="text-left">{{ rs.delivery_type}} </td>
                                    <td class="text-left">{{ rs.paymentmethod}} </td>
                                    <td class="text-left">{{ rs.total}} </td>
                                    <td class="text-left">{{ rs.status}} </td>
                                    <td class="text-left">{{ rs.create_at}} </td>
                                    <td class="text-left"><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}"> Detail </a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}