{% extends 'homeBase2.html' %}
{% load static %}
{% block title %}  {{ user.first_name }} Profile  Update{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">User Contact Update</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Phone Update</h3>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {{ formset.non_form_errors }}
                        {% if formset.total_form_count > 1 %}
                        <br><h3 class="title">You Can Edit or delete saved contact numbers.</h3><br><br>
                        {%endif%}
                        <div>
                        {% for form in formset %}
                            {% if forloop.last %}
                            {% if formset.total_form_count > 1 %}
                                <br><h3 class="title">You May add more Numbers. </h3><br><br>
                            {% else%}
                                <br><h3 class="title">Please Fill the following details. </h3><br><br>
                            {%endif%}
                            {% for field in form %}
                                    {% if not "Delete:" in field.label_tag %}
                                    {% if not "Id:" in field.label_tag %}
                                        {% if not forloop.last %}
                                            {{ field.errors }}
                                            <div style="width:80%; margin-left:20%">
                                                <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br>
                                            </div><br>
                                        {%endif%}
                                    {%endif%}
                                    {%endif%}
                                {% endfor %}
                            {% else %}
                            <div><h4 class="title">Contact Number {{forloop.counter}}</h4></div>
                                {% for field in form %}
                                    {% if not "Id:" in field.label_tag %}
                                        {% if not forloop.last %}
                                            {{ field.errors }}
                                            <div style="width:80%; margin-left:20%"><br>
                                                <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                            </div>
                                        {%endif%}
                                    {% else %}
                                        {{ field.errors }}{{ field }}
                                    {%endif%}
                                 {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div><br><br>
                        <div><button class="primary-btn" type="submit" style="margin-left:40%;" id="subbt">Save the Changes</button></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
	<script src="{% static '' %}js/jquery.min.js"></script>
	<script src="{% static '' %}js/bootstrap.min.js"></script>
	<script src="{% static '' %}js/slick.min.js"></script>
	<script src="{% static '' %}js/nouislider.min.js"></script>
	<script src="{% static '' %}js/jquery.zoom.min.js"></script>
	<script src="{% static '' %}js/main.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' ></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
<script>
$f2=0
{% for form in formset %}
$f1='#id_user2profile_set-'
$f3='-phone'
$f=$f1.concat($f2.toString())
$ff=$f.concat($f3)
bootstrapValidate($ff, 'min:10:Phone number must be of 10 digits')
bootstrapValidate($ff, 'max:10:Phone number must be of 10 digits')
bootstrapValidate($ff, 'numeric:Only numbers allowed')
$f2=$f2+1
{%endfor%}
function yesnoCheck1(){
$f2=0
{% for form in formset %}
$f1='#id_user2profile_set-'
$f3='-phone'
$f=$f1.concat($f2.toString())
$ff=$f.concat($f3)
bootstrapValidate($ff, 'min:10:Phone number must be of 10 digits')
bootstrapValidate($ff, 'max:10:Phone number must be of 10 digits')
bootstrapValidate($ff, 'numeric:Only numbers allowed')
$f2=$f2+1
{%endfor%}
var te =  document.getElementsByClassName('form-control');
for(var j = 0; j < te.length; j++)
{
    console.log(te[j].classList)
    console.log(te[j].classList.contains('is-invalid'))
    console.log(te[j].id)
    if (!te[j].classList.contains('is-invalid')){
        console.log($(te[j]))
        console.log($(te[j]).next())
        $(te[j]).next().remove()
    }
}
var element =  document.getElementsByClassName('is-invalid');
  for(var i = 0; i < element.length; i++){
	if (i==element.length-1)
	{
		var idval='#'.concat((element[i].id).toString())
		if (idval==$ff)
		{
			if (((element[i].value).toString()) == '')
			{
				element[i].classList.remove("is-invalid");
				var elements =  document.getElementsByClassName('invalid-feedback');
				for(var q = 0; q < elements.length; q++){
					if (q==elements.length-1){
						elements[q].remove();
					}
				}
			}
		}
	}
  }
if(element.length>0){
document.getElementById("subbt").disabled = true;
} else {
document.getElementById("subbt").disabled = false;
}
}
</script>
{% endblock %}
{% block footer %} {%  include 'footer5.html'  %} {% endblock %}