{% extends 'homeBase2.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset Confirm {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Forgot Password</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Forgot Password!</h3>
                        </div>
                            <h4>Enter your email address below, and we'll email instructions for setting a new one.</h4><br><br>
                            <form method="POST">
                                {% csrf_token %}
                                {{ password_reset_form|crispy }}
                                <br>
                                <button class="primary-btn" type="submit">Send email</button>
                            </form>

                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}