{% extends 'homeBase2.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset Confirm {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Reset Successful</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Reset Successful</h3>
                        </div>
                        <h4>Your password has been set. You may go ahead and log in now.</h4>
                        <br>
                        <a href="/login"  class="primary-btn" type="buttons">Go to Login Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}