{% extends 'homeBase.html' %}
{% block title %} Server Error {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">500. Server error.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}