{% extends 'homeBase4.html' %}
{% block title %} Order Page {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %}
{%load static%}
    <hr>
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Order Page</li>
            </ul>
        </div>
    </div>

	{% if messages %}
        {% for message in messages %}
            {% if forloop.last %}
                <div class="alert alert-{{message.tags}}" role="alert" style="margin-left:35%;margin-right:35%;background:#AFE0F9;color:black;">
                    {{ message |safe }}
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}

    <div class="section">
        <div class="container">
            <div  class="row">
                <div class="col-md-6">
                    <form id="thisform" method="post" data-url="%url 'orderproduct'%">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="formOne">
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Shipping Details</h3>
                            </div>
                            <div>
                                {% for field in form %}
                                    {% if not forloop.last %}
                                        <div style="width:80%;">
                                            <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                            <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                        </div>
                                        <br>
                                    {%else%}
                                        <br><br>
                                        <div style="width:80%;">
                                            <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                            <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                        </div>
                                        <br>
                                    {% endif %}
                                {%endfor%}
                            </div>
                        </div>
                        <div>
                            <button  type="submit" class="primary-btn">Complete Order</button>
                        </div>
                    </form>

                    <div class="billing-details">
                        <div class="section-title" style="margin-top:3%;">
                            <h3 class="title">Add details</h3>
                        </div>
                        <div>
                            <input type="radio" onclick="javascript:yesnoCheck();" id="stn" name="filter1[]" value="stn">
                            <label for="stn">Add Credit Card</label><br>
                            <div style="margin-top:5%;margin-bottom:5%;margin-left:10%;">
                                <div id="stnfilter">
                                    <form id="thisform1" method="post" data-url="%url 'orderproduct'%">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formTwo">
                                        {% for field in ccform %}
                                            <div style="width:80%;" class="form-group">
                                                <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                            </div><br>
                                        {%endfor%}
                                        <div>
                                            <button  type="submit" class="primary-btn">Add Credit Card</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <input type="radio" onclick="javascript:yesnoCheck();" id="post" name="filter1[]" value="post">
                            <label for="post">Add Debit Card</label><br>
                            <div style="margin-top:5%;margin-bottom:5%;margin-left:10%;">
                                <div id="postfilter">
                                    <form id="thisform2" method="post" data-url="%url 'orderproduct'%">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formThree">
                                        {% for field in ddform %}
                                            <div style="width:80%;" class="form-group">
                                                <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                            </div>
                                            <br>
                                        {%endfor%}
                                        <div>
                                            <button  type="submit" class="primary-btn">Add Debit Card</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <input type="radio" onclick="javascript:yesnoCheck();" id="dor1" name="filter1[]" value="dor1">
                            <label for="dor1">Add UPI ID</label><br>
                            <div style="margin-top:5%;margin-bottom:5%;margin-left:10%;">
                                <div id="dor1filter">
                                    <form id="thisform3" method="post" data-url="%url 'orderproduct'%">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formFour">
                                        {% for field in upiform %}
                                            <div style="width:80%;" class="form-group">
                                                <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                            </div><br>
                                        {%endfor%}
                                        <div>
                                            <button  type="submit" class="primary-btn">Add UPI ID</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <input type="radio" onclick="javascript:yesnoCheck();" id="dor2" name="filter1[]" value="dor2">
                            <label for="dor2">Add Paytm Number</label><br>
                            <div style="margin-top:5%;margin-bottom:5%;margin-left:10%;">
                                <div id="dor2filter">
                                    <form id="thisform4" method="post" data-url="%url 'orderproduct'%">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formFive">
                                        {% for field in paytmform %}
                                            <div style="width:80%;" class="form-group">
                                                <div style="width:30%; float:left;"><p style="display:inline;">{{ field.label_tag }}</p></div>
                                                <div style="width:35%; float:left;"><p style="display:inline;">{{ field }}</p></div><br><br>
                                            </div><br>
                                        {%endfor%}
                                        <div>
                                            <button  type="submit" class="primary-btn">Add Paytm Number</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Total Amount</h3>
                        </div>
                        <table class="shopping-cart-table table" id="taskList">
                            <tfoot>
                                <tr>
                                    <th class="empty" colspan="3"></th>
                                    <th>SUBTOTAL</th>
                                    <th colspan="2" class="sub-total">Rs. {{ total}}</th>
                                </tr>
                                <tr>
                                    <th class="empty" colspan="3"></th>
                                    <th>SHIPPING CHARGES</th>
                                    <td colspan="2">Rs. <div id="nothing1" style="display:none;"> 10 </div> <div id="nothing2" style="display:none;"> 0 </div></td>
                                </tr>
                                <tr>
                                    <th class="empty" colspan="3"></th>
                                    <th>TOTAL</th>
                                    <th colspan="2" class="total">Rs. <div id="nothing11" style="display:none;">{{total|add:"10"}}.00</div> <div id="nothing22" style="display:none;">{{total}}</div> </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
	function hideButton(){
        document.getElementById('stnfilter').style.display = 'none';
        document.getElementById('postfilter').style.display = 'none';
        document.getElementById('dor1filter').style.display = 'none';
        document.getElementById('dor2filter').style.display = 'none';

        var w = document.getElementsByTagName('input');
        for(var i = 0; i < w.length; i++){
            if(w[i].type=='radio'){
                w[i].checked = false;
            }
        }
    }
</script>
{% endblock %}
{% block footer %}{% include 'footer4.html' %}{% endblock %}